@model examsys.Models.tbl_STUDENT_AUDIT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_STUDENT_AUDIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.St_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.St_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Audit_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
